h1, h2, h3, p {Font-family: Helvetica}
h1 {font-size:100px;
    font-weight: bold;
    color: khaki;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);}
  .paints{background-color: skyblue;
    font-size: 32px;
    font-weight: bold;
    color: white;}

.brushes{background-color: mediumspringgreen;
    font-size: 32px;
    font-weight: bold;
    color: white;}
.frames{background-color: lightcoral;
  font-size: 32px;
  font-weight: bold;
  color: white;}
}
